.nav {
    position: fixed;
    height: 60px;
    left: 0;
    top: 0;
    right: 0;
    background: rgb(57, 57, 177);
    display: flex;
    justify-content:space-around;
    align-items:center;
}

.nav a{
    color: white;
    text-decoration: none;
}

.main{
    margin-top: 60px;
    padding: 1rem;
}